// Specific CSS for your home-page
body {
    background-color: rgb(190, 190, 190);
}

.card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 40px;
}
  
  .card-category a {
      color: white;
  }

  .card-category a:hover {
      color: rgb(218, 218, 218);
      text-decoration: none;
  }