.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar a {
  color: $purple
}

.navbar .btn a {
  transition: .2s;
}

.navbar .btn:hover a {
  color: white;
  font-weight: bold;
}